# Repos
/clang/
/cmark/
/compiler-rt/
/llbuild/
/lldb/
/llvm/
/swift-corelibs-foundation/
/swift-corelibs-libdispatch/
/swift-corelibs-xctest/
/swift-integration-tests/
/swift-xcode-playground-support/
/swift/
/swiftpm/

# Build artifacts
/build/
/install/
swift.tar.gz

# Other
cache
sysroot
.DS_Store
